*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(9,15,31);
    
}
nav{
    display:flex;
    background-color: rgb(6,10,21);
    display: flex;
    justify-content: center;
    justify-content: space-between;
color: white;
}

nav .left{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}
.left .icon i {
    padding: 22px;
    font-size: 20px;
}
.left ul li a{
    margin-top: 22px;
    margin-inline: 23px;
    font-size: 18px;
}
.left img{
    margin-top: -9px;
}
.left ul{
    margin: 22px;
    list-style: none;
}
.right{
    display: flex;
}
.right input{
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
   height: 30px;
   background-color:  rgb(6,10,21);
   margin-top: 15px;
   font-size: 16px;
}
.right i{
    margin-left: -24px;
    margin-top: 10px;
}
.right button{
    width: 90px;
    height: 20px;
    background-color: rgb(27,79,252);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    margin: 22px;
}
.right h3{
    margin: 25px;

}

  
  .show-details {
    display: flex;
    align-items: center;
    max-width: 1000px;
    max-height: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 4px white;
  }
  
  .show-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; 
    color: #e63d3d;
  }
  
  .show-info {
    margin-left: 20px;
  }
  
  .show-title {
    font-size: 24px;
    margin: 0;
  }
  
  .show-description {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
  }
  
  .watch-now-btn {
    padding: 10px 20px;
    background-color: #f55858;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .watch-now-btn:hover {
    background-color: #e63d3d;
  }
   


.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.container .card img {
    width: 90%;
    border-radius: 10px;
    max-width: 100%;

}
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1rem;
}